# reactjs
# dependencies
/reactjs/node_modules

# testing
/reactjs/coverage

# production
/reactjs/build

# misc
/reactjs/.DS_Store
/reactjs/.env.local
/reactjs/.env.development.local
/reactjs/.env.test.local
/reactjs/.env.production.local

/reactjs/npm-debug.log*
/reactjs/yarn-debug.log*
/reactjs/yarn-error.log*
# /reactjs